html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
.be-blue{
	background-color: rgb(24,0,255);
}
#logo{
	font-size: 1.2em;
}
a:link{
	text-decoration: none;
}
a,a:visited{
	color: inherit;
}
.no-margin{
	margin: 0px;
}
.white{
	color: white;
}
.large-padding{
	padding: 15px 10px;
}
.no-list{
	list-style:none;
}

.field{
	margin-top:1em;
}

.form-control{
	border: none !important;
	border-bottom: 1px solid !important;
	outline: none !important;
	width: 100% !important;
	display: block !important;
	padding: 10px 0px !important;
	font-size: 1.2em !important;
}

#pie{
	height: 50px;
	margin-top: -50px;
}